set default=0
set timeout=5
insmod all_video
insmod gfxterm
terminal_output gfxterm

menuentry "IA Stop-Motion Studio OS @VERSAO@" {
    linux /casper/vmlinuz boot=casper quiet splash locale=pt_BR.UTF-8 keyboard-configuration/layoutcode=br ---
    initrd /casper/initrd
}
menuentry "IA Stop-Motion Studio OS — guardar projetos no pendrive (persistência)" {
    linux /casper/vmlinuz boot=casper persistent quiet splash locale=pt_BR.UTF-8 keyboard-configuration/layoutcode=br ---
    initrd /casper/initrd
}
menuentry "Modo seguro de vídeo (nomodeset)" {
    linux /casper/vmlinuz boot=casper nomodeset locale=pt_BR.UTF-8 ---
    initrd /casper/initrd
}
menuentry "Diagnóstico (console serial)" {
    linux /casper/vmlinuz boot=casper console=tty0 console=ttyS0,115200 systemd.show_status=1 ia-sms.diag locale=pt_BR.UTF-8 ---
    initrd /casper/initrd
}
