# Menu do boot UEFI: mesmas entradas do isolinux.cfg (boot BIOS/legado).
# Copiado para /boot/grub/grub.cfg do ISO pelo post-image.sh.
serial --unit=0 --speed=115200
terminal_input console serial
terminal_output console serial
set timeout=8
set default=0

menuentry "1. IA-Linux MiniVideo - Interface (Xorg, Fluxbox, PCManFM)" --hotkey=1 {
	linux /boot/bzImage console=tty1 quiet loglevel=3 minivideo.modo=grafico
	initrd /boot/initrd
}

menuentry "2. IA-Linux MiniVideo - Terminal (console, como hoje)" --hotkey=2 {
	linux /boot/bzImage console=tty1 quiet loglevel=3 minivideo.modo=terminal
	initrd /boot/initrd
}

menuentry "3. IA-Linux MiniVideo - Recuperacao (sem GPU, terminal)" --hotkey=3 {
	linux /boot/bzImage console=tty1 nomodeset minivideo.recuperacao=1 minivideo.modo=terminal
	initrd /boot/initrd
}

menuentry "   Interface carregando tudo na RAM (pode tirar o pendrive)" {
	linux /boot/bzImage console=tty1 quiet loglevel=3 minivideo.modo=grafico minivideo.toram=1
	initrd /boot/initrd
}

menuentry "   Diagnostico: console serial + tela (tecla D)" --hotkey=d {
	linux /boot/bzImage console=ttyS0,115200 console=tty1 loglevel=7 minivideo.modo=terminal
	initrd /boot/initrd
}
