# Menu do boot UEFI: mesmas entradas do isolinux.cfg (boot BIOS/legado).
# Copiado para /boot/grub/grub.cfg do ISO pelo post-image.sh.
serial --unit=0 --speed=115200
terminal_input console serial
terminal_output console serial
set timeout=5
set default=0

menuentry "IA-Linux MiniVideo (RX 580 / Vulkan)" {
	linux /boot/bzImage console=tty1 quiet loglevel=3
	initrd /boot/initrd
}

menuentry "IA-Linux MiniVideo - carregar tudo na RAM (pode tirar o pendrive)" {
	linux /boot/bzImage console=tty1 quiet loglevel=3 minivideo.toram=1
	initrd /boot/initrd
}

menuentry "Recuperacao: sem GPU (nomodeset)" {
	linux /boot/bzImage console=tty1 nomodeset minivideo.recuperacao=1
	initrd /boot/initrd
}

menuentry "Diagnostico: console serial + tela (tecla D)" --hotkey=d {
	linux /boot/bzImage console=ttyS0,115200 console=tty1 loglevel=7
	initrd /boot/initrd
}
