UI menu.c32
PROMPT 0
TIMEOUT 80
DEFAULT interface
MENU TITLE IA-Linux MiniVideo - escolha como iniciar

LABEL interface
      MENU LABEL 1. IA-Linux MiniVideo - Interface (Xorg, Fluxbox, PCManFM)
      KERNEL __KERNEL_PATH__
      INITRD __INITRD_PATH__
      APPEND console=tty1 quiet loglevel=3 minivideo.modo=grafico

LABEL terminal
      MENU LABEL 2. IA-Linux MiniVideo - Terminal (console, como hoje)
      KERNEL __KERNEL_PATH__
      INITRD __INITRD_PATH__
      APPEND console=tty1 quiet loglevel=3 minivideo.modo=terminal

LABEL recuperacao
      MENU LABEL 3. IA-Linux MiniVideo - Recuperacao (sem GPU, terminal)
      KERNEL __KERNEL_PATH__
      INITRD __INITRD_PATH__
      APPEND console=tty1 nomodeset minivideo.recuperacao=1 minivideo.modo=terminal

MENU SEPARATOR

LABEL toram
      MENU LABEL    Interface carregando tudo na RAM (pode tirar o pendrive)
      KERNEL __KERNEL_PATH__
      INITRD __INITRD_PATH__
      APPEND console=tty1 quiet loglevel=3 minivideo.modo=grafico minivideo.toram=1

LABEL serial
      MENU LABEL    Diagnostico: console serial + tela (logs completos)
      KERNEL __KERNEL_PATH__
      INITRD __INITRD_PATH__
      APPEND console=ttyS0,115200 console=tty1 loglevel=7 minivideo.modo=terminal
